@import 'variables';


body{
	font-family: 'Montserrat', sans-serif;
}

.page{
	padding: 100px 0 100px 0;
	&-light {
		background-color: $light;
	}
	&-dark{
		background-color: $dark;
	}
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 26px;
	padding-top: 46px;
	&-logo {
		@include breakpoint (xs) {
			max-width: 130px;
		}
   }
}

nav {
	@include breakpoint (lg) {
		 display: none;
	}
}

.nav {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	font-size: 14px;
	@include breakpoint (lg) {
		display: none;
  }
	&-item{
		margin-right: 52px;
	}
	&-link{
		color: $dark;
		text-decoration: none;
		
	}
	&-info{
		.nav-item {
			margin-left: 25px;
			margin-right: 25px;
	  }
	}
	&-bar {
		position: absolute;
		background-color: $accent;
		top: 0;
		right: 100%;
		height: 100vh;
		width: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: position 2.9s;
		-webkit-transition: position 2.9s;
		-moz-transition: position 2.9s;
		-ms-transition: position 2.9s;
		-o-transition: position 2.9s;
  }
}

.card {
	background-image: url(../img/basket.svg);
	display: block;
	height: 30px;
	padding-left: 42px;
	padding-right: 0;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-color: transparent;
	border: none;
	outline: none;
	&:focus {
		outline: none;
  }
	&-count{
		background-image: url(../img/basket-bg.svg);
		background-repeat: no-repeat;
		background-position: 0 center;
		
		color: #ffff;
		font-size: 12px;
		font-weight: 700;
		padding: 10px 17px 10px 23px;
		display: block;
	}
}

.title-h2 {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	@include breakpoint (xs) {
		 font-size: 28px;
	}
}

.btn{
	background-color: $accent;
	color: #ffff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 18px 20px;
	&-xs{
		padding: 8px 20px;
	}
	&-center{
		display: block;
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
		span{
		margin-right: 15px;
	}
	}
	
	&img{
		width: 100%;
		max-width: 556px;
	}
}

.main{
	display: flex;
	justify-content: space-between;
	@include breakpoint (lg) {
		flex-wrap: wrap;
  }
	&-item{
		flex: 0 0 50%;
	}
	.sale{
		@include breakpoint (lg) {
			flex: 0 0 100%;
	  }
		&-description{
			font-size: 30px;
			font-weight: 700;
			letter-spacing: -0.6px;
			@include breakpoint (sm) {
				font-size: 20px;
		  }
		}
		&-title{
			font-size: 55px;
			font-weight: 700;
			margin-top: 30px;
			margin-bottom: 60px;
			@include breakpoint (sm) {
				font-size: 28px;
				margin-top: 10px;
				margin-bottom: 45px;
		  }
		}
	}
}

.box {
	@include breakpoint (lg) {
		 max-width: 600px;
		 margin: 50px auto 0;
	}
	@include breakpoint (sm) {
		 max-width: 350px;
	}
	position: relative;
	&-price {
		 position: absolute;
		 right: 0;
		 top: 35px;
		 text-align: right;
		 &-old {
			  font-size: 24px;
			  font-weight: 700;
			  @include breakpoint (sm) {
					font-size: 14px;
			  }
		 }
		 &-new {
			  font-size: 42px;
			  font-weight: 700;
			  color: $important;
			  margin-top: 17px;
			  @include breakpoint (sm) {
					font-size: 22px;
					margin-top: 4px;
			  }
		 }
	}
	&-image {
		 width: 100%;
		 max-width: 556px;
	}
}

.notice{
	text-align: center;
	color: #ffff;
	padding: 50px 0;
		&-title{
		font-size: 700;
		font-weight: 400;
		text-transform: uppercase;
		@include breakpoint (sm) {
			font-size: 18px;
			line-height: 1.5;
	  }
		span{
			font-weight: 700;
			@include breakpoint (xs) {
				display: block;
		  }
		}
	}
	&-description {
		font-size: 21px;
		@include breakpoint (sm) {
			 font-size: 14px;
		}
  }
}
.collection{
	display: flex;
	justify-content: space-between;
	@include breakpoint (lg) {
		flex-wrap: wrap;
  }
		&-item{
		flex: 0 0 50%;
		padding: 50px 0 50px 0;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: calc(100%-50px);
		@include breakpoint (lg) {
			flex: 0 0 100%;
	  }
	  @include breakpoint (xs) {
			padding: 27px 0 84px;
			background-size: 153px 130px;
			background-position: 100% bottom;
	  }
	}
	&-men{
		background-image: url(../img/men.svg);
		}
	&-women{
		background-image: url(../img/women.svg);
		}
	&-title{
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
		@include breakpoint (xs) {
			font-size: 18px;
	  }
	}
	&-description{
		font-size: 16px;
		margin-bottom: 30px;
		@include breakpoint (xs) {
			font-size: 12px;
	  }
	}
}
.title-h3{
	text-align: center;
	font-size: 36px;
}
.product{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	@include breakpoint (lg) {
		flex-wrap: wrap;
  }
  @include breakpoint (xs) {
		margin-bottom: 50px;
  }
	&-item{
		flex: 0 0 24%;
		position: relative;
		@include breakpoint (lg) {
			flex: 0 0 49%;
			margin-bottom: 20px;
	  }
	  @include breakpoint (xs) {
			flex: 0 0 100%;
	  }
		
		&:before, &:after{
			content:'';
			display: block;
			width: 100%;
			height: 25px;
			background-size: cover;
			background-repeat: no-repeat;
			@include breakpoint (lg) {
				background-size: 100% 25px;
		  }
		}
		&:before{
			background-image: url(../img/item-top.svg);
		}
		&:after{
			background-image: url(../img/item-bottom.svg);
		}
	}
	&-title{
		font-weight: 600;
	}
	&-price{
		color: $accent;
		font-size: 18px;
		font-weight: 700;
	}
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	@include breakpoint (lg) {
		flex-wrap: wrap;
  }
	&-logo{
		flex: 0 0 40%;
		@include breakpoint (lg) {
			flex: 0 0 100%;
			margin-bottom: 20px;
	  }
	}
	&-nav{
		flex: 0 0 60%;
		display: flex;
		justify-content: space-between;
		color: #ffff;
		@include breakpoint (lg) {
			flex: 0 0 100%;
	  }
	  @include breakpoint (sm) {
			flex-wrap: wrap;
	  }
	}
	&-list{
		list-style: none;
		padding-left:  0;
		@include breakpoint (sm) {
			flex: 0 0 49%;
			margin-bottom: 20px;
	  }
		&-title{
			font-size: 10px;
			font-weight: 700;
		}
		&-item{
			margin-bottom: 10px;
			@include breakpoint (xs) {
				margin-bottom: 14px;
		  }
		}
		&-link{
			color: $gray;
			text-decoration: none;
			font-size: 14px;
			@include breakpoint (xs) {
				font-size: 12px;
		  }
		}
		&-img{
			padding-right: 10px;
		}
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	font-size: 14px;
	@include breakpoint (sm) {
		 flex-direction: column;
	}
	&-link {
		 color: $dark;
		 text-decoration: none;
	}
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
	z-index: 9999;
	&-menu {
		 background-color:$dark;
		 width: 24px;
		 height: 24px;
		 display: flex;
		 flex-direction: column;
		 justify-content: space-around;
		 padding: 7px 12px;
		 cursor: pointer;
		 @include breakpoint (minlg) {
			  display: none;
		 }
		 @include breakpoint (xs) {
			  width: 18px;
			  height: 18px;
		 }
	}
	.line1 {
		 background-color: #000000;
		 transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
	}
	.line2 {
		 display: none;
	}
	.line3 {
		 background-color: #000000;
		 transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
	}
	.toggle-menu {
		 background-color: white;
	}
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.nav-list {
	list-style: none;
	padding-left: 0;
	font-size: 14px;
	&-item {
		 text-align: center;
		 padding: 20px 0;
	}
}